body{
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

h1{
    color: #2F9BCA;
    margin-left: 20px;
}

p{
    color: #444444;
    margin-left: 20px;
}